.cartOutline {
  position: fixed;
  height: 100%;
  width: inherit;
  overflow-x: hidden;
}

.header {
  border-bottom: 2px solid #fffa;
}

.title {
  padding: 20px;
  margin: 0 auto;
  font-size: 2em;
}

.productList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.priceTotal {
  font-size: 1.2em;
  margin: 5px;
  padding: 5px 0;
  border-bottom: 2px solid #fff8;
}